<div class='row'>
    <div class='col s3'>
        <%= image_tag("logo_black.png", height: "300", alt: "Brewright Logo")%>
    </div>
    <div class='col s7'>
        <h1>Welcome to Brewright!</h1>
        <p> With this app, you can create ingredients for making beer, create a recipe, and then add those
        ingredients and some additional info to that recipe to save for later use on brew day.
        </p>
    </div>
</div>